@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 2px; /* Scrollbar width */
  height: 2px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Track background */
}

::-webkit-scrollbar-thumb {
  background: lightgray; /* Scrollbar handle */
  cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Scrollbar handle on hover */
}
